@font-face {
    font-family: OldNewspaperTypes;
    src: url('font/OldNewspaperTypes.ttf');
}

/* @import url("https://use.typekit.net/xzh7rce.css"); */
@import url("https://use.typekit.net/xzh7rce.css");
.body{
    font-family: OldNewspaperTypes;
}


td.right {
    text-align: right;
        table-layout: fixed;

}
p{
    font-size:30px !important;
    font-family: OldNewspaperTypes;
    font-weight: 400;
    font-style: normal;
}
td{
    font-size:26px !important;
    font-family: OldNewspaperTypes;
    font-weight: 400;
    font-style: normal;
}
.logo{
    width:50px;
    height:auto;
    position: absolute;
    display:block;
}
h3{
    position: absolute;
    font-size: 120px;
    font-family: OldNewspaperTypes;
    display: flex !important;
    margin-left: 15px;
    bottom: 0;
}
#img {
    width: 300px;
    height: auto;
    left: 25%;
    position: absolute;
}
#content{
     display: block;
     margin-bottom:40px;
     margin-left:auto;
     margin-right:auto;
     width: 90%;
     height: 300px;
     font-size: 25px;
     opacity: 0.4;
 }
 .column{
    float: left;
    display: grid;
    width: 50%;
    padding-right: px;
    justify-content: center; 
}
svg{
    width:100%;
    height:auto;
    display:flex;
    position:absolute;
}
.circle {
    background: #3CAC8C;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
#row img{
    height:40%;
    width: auto;
    float:left;
    margin-left:auto;
    margin-right: auto;
}
td.left:hover {
    text-decoration: underline;
    text-decoration-color: #ddd;
    /* background-color: #ddd; */
}

.overlay{
    display: flex;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
    position: absolute;
    z-index: -2;
}
.overlay img{
    width: 300px;
    height: fit-content;
    margin: auto;
    margin-top: 20%;
}
td.left:hover .overlay{
  
    opacity: 1.0;
    position: absolute;
    transition: .4s ease-in-out;
    transition-delay: .2s;
    transition-property:initial;
}
td{
    width: auto;
}
tr{
    margin-top:10px;
    height:2.0em;
}
#td{
    width:100%;
    display:flex;
    justify-content: center;
}
.row img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}
/* #circles{
    position: absolute;
    height:auto;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #3CAC8C;

} */
