@font-face {
    font-family: OldNewspaperTypes;
    src: url(font/OldNewspaperTypes.ttf);
}
@import url("https://use.typekit.net/xzh7rce.css");
#app {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    transition: all 0.2s;
  }
.body{
    font-family: OldNewspaperTypes;
}
p{
    font-size:40px !important;
    font-family: minion-pro, serif;
    font-weight: 400;
    font-style: normal;
    opacity: 50%;
}
/* button{
    border:none;
} */

.logo{
    width:50px;
    height:auto;
    position: absolute;
    display:block;
}
h2{
    /* position: absolute; */
    font-size: 40px;
    font-family: OldNewspaperTypes;
    /* display: flex !important; */
    /* margin-left: 15px; */
    /* bottom: 15%; */
    opacity: 50%;

}
#img {
    width: 300px;
    height: auto;
    left: 10%;
    position: absolute;
}
#img img {
    width: 300px;
    opacity: 0.4;
}
#content{
    position: absolute;
    display: block;
    float: right;
    right: 0px;
    top:0px;
    margin-right: 10px;
    width: 65%;
    /* font-size: 25px; */
    opacity: 1.0;
}
svg{
    width:100%;
    height:auto;
    display:flex;
    position:absolute;
}
.circle {
    border-radius: 50%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.product {
    display: inline-block;
    position: fixed;
    margin-top:40px;
    padding-bottom: 20px;
    padding-top: 20px;
    top: 0px;
    height: 100%;
    width: 40%;
    right: 0px;
    margin-right: 20px;
}
.product ul {
    display: block;
    height: auto;
    width:90%;
}
.card {

    background: white;
    /* width: 400px; */

    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
}
ul#button {
    /* width: 100%; */
    /* right: 0px; */
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
}
.v-btn{
    width:160px;
    min-width:160px;
}
#circles{
    position: absolute;
    height:auto;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #3CAC8C;

}
